$light-gray: #c7c7c7;
$white: #ffffff;
$green: #2cee91;
$dark-gray: #343651;
$light-yellow: #ede7d9;
$black: #000000;

$primary-color: #2cee91; // Green
$secondary-color: #ede7d9; // Light Yellow
$accent-color: #ff6347; // Orange
$neutral-color: #343651; // Dark Gray
$light-neutral-color: #c7c7c7; // Light Gray
$dark-neutral-color: #000000; // Black
$white: #ffffff; // White
