@import "../../styles/mixins";
@import "../../styles/variables";

.adminPanel {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  margin-inline: auto;

  @include respond-to("large") {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include respond-to("small") {
      flex-direction: row;
    }

    @include respond-to("large") {
      width: 80%;
    }

    h1 {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 900;
    }
  }

  &__forms {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    min-height: 50vh;
    width: 100%; //80

    .categoryMenu ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;

      @include respond-to("medium") {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      li {
        border: 1px solid black;
        border-radius: 5rem;
        padding: 0.5rem 3rem;
        margin-bottom: 1rem;

        display: flex;
        justify-content: center;

        button {
          text-transform: uppercase;
          font-weight: 900;
          font-size: 0.6rem;

          @include respond-to("small") {
            font-size: 1rem;
          }

          @include respond-to("large") {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  &__displayCategories {
    grid-template-columns: 1fr;

    @include respond-to("large") {
      display: flex;
    }

    .words {
      border: 1px solid black;
      border-radius: 1rem;
      padding: 2rem 0;

      @include respond-to("large") {
        flex: 1;
      }

      h1 {
        text-align: center;
        border-bottom: 1px solid black;
        font-size: 2rem;
        text-transform: uppercase;
        padding-bottom: 1rem;

        @include respond-to("small") {
          font-size: 3rem;
        }

        @include respond-to("large") {
          font-size: 3rem;
          font-weight: 900;
        }
      }

      .itemWrapper {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        p {
          text-transform: uppercase;
          font-weight: 900;
          font-size: 1rem;

          @include respond-to("large") {
            font-size: 2rem;
          }
        }

        button {
          border: 1px solid black;
          border-radius: 5rem;
          padding: 0.5rem 2rem;
          text-transform: uppercase;

          @include respond-to("large") {
            padding: 0.5rem 3rem;
            font-size: 1rem;
          }
        }
      }
    }
  }

  &__formContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 3rem;
    padding: 2rem 0;

    @include respond-to("large") {
      flex: 1;
    }

    h2,
    span {
      font-size: 3rem;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
    }

    span {
      color: black;
    }

    form {
      min-height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      text-transform: uppercase;

      @include respond-to("small") {
        gap: 5rem;
      }
    }

    label {
      font-size: 2rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    label:focus-within {
      color: black;
      font-weight: 900;
    }

    input {
      text-align: center;
      margin-top: 1rem;
      border: 1px solid black;
      border-radius: 5rem;
      padding: 1rem 1rem;
      font-size: 1rem;
    }

    input:focus {
      outline: none;
      box-shadow: 0 0 0 2px black;
    }

    input::placeholder {
      font-size: 1rem;
      text-transform: uppercase;

      opacity: 0.4;
    }

    button {
      pointer-events: all;
      background-color: black;
      color: white;
      border-radius: 5rem;
      padding: 1rem 5rem;
      text-transform: uppercase;
    }
  }
}
