.smileWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.smileSvg {
  width: 200px;
  height: 200px;
  animation: rotate 12s linear infinite;
}

.stroke0 {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
}

.stroke1 {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
